

html, 
body {
    height: 100%;
    margin:0px;
    background-color: #cfcfcf;
}


.login {
    margin: auto auto;
    display: grid;
    grid-template-columns: 50% 50%;
    position: absolute;
    left: 20%;
    top: 20%;
    right: 20%;
    bottom: 20%;
}

.login-title {

    font-size: xx-large;
    color: #453641
}

.login-left {
    display: flex;
    background:linear-gradient(-45deg, #f7f5f5 35%, #ecb15c 85%);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    font-family: roboto;
}

.login-right {
    display: flex;
    background:linear-gradient(45deg, #f7f5f5 35%, #ecb15c 85%);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: larger;
    font-family: roboto;


}

.input-div {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30%;
    width: 80%;

}
.logo-div{
    height:70%;
    width: 60%;
}

.logo-img {
    height:100%;
    width: 100%;
    
}

.text span {
    font-variant-caps: small-caps;
    font-size: xx-large;
    font-family:roboto;
    text-transform: uppercase;
    animation: zoomup 15s linear infinite;
    animation-delay: calc(400ms * var(--i));
    
}


#uname {
    font-family: roboto;
    font-size: 19px;
    border: none;
    outline: none;
    height: 100%;
    border: none;
    width: 50%;
    transition: width .35s ease-in-out;
    background: none;


}

#pwd {
    font-family: roboto;
    font-size: 19px;
    border: none;
    outline: none;
    height: 100%;
    border: none;
    width: 50%;
    transition: width .35s ease-in-out;

    background: none;
}


label {
    font-size: smaller;
    opacity: 0.7;
}

.email-div {
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 100%;
    background: none;

}

.pass-div {
    display: flex;
    height: 30%;
    width: 100%;
    flex-direction: column;
    background: none;
}

#uname:focus {
    
    border-bottom: 2px solid #453641;
    width: 95%;

}

#pwd:focus {
    border-bottom: 2px solid #453641;
    width: 95%;
}

.login-btn {
    cursor: pointer;
    width: 80%;
    height: 20%;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.65);
    border-radius: 25px;
    font-size: 1.8rem;

}

.login-btn:hover {
    background: rgba(255, 255, 255, 0.15);
    color: #da6900;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;

}
.left-text-div{
    display: contents;
    height: 10%;
    width: 100%;
    
}
@keyframes zoomup {
    0%,
    100% {
      color: #da6900;
      filter: blur(1px);
      text-shadow: 0 0 10px #da6900, 0 0 20px #da6900, 0 0 30px #da6900,
        0 0 40px #da6900, 0 0 60px #da6900#da6900, 0 0 80px #da6900, 0 0 100px #da6900,
        0 0 120px #da6900;
    }
  
    5%,
    95% {
      filter: blur(0);
      color: rgb(187, 31, 31);
      text-shadow: none;
    }
  }
