

html, 
body {
    height: 100%;
    margin:0px;
    background-color: #cfcfcf;
}


.login {
    margin: auto auto;
    display: grid;
    grid-template-columns: auto auto;
    position: absolute;
    left: 20%;
    top: 20%;
    right: 20%;
    bottom: 20%;
}

.login-title {

    font-size: xx-large;
    color: #453641
}

.login-left {
    display: flex;
    
    background-color: #ecb15c;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: larger;
    font-family: roboto;
}

.login-right {
    display: flex;
    background-color: hsl(41, 63%, 57%);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: larger;
    font-family: roboto;


}

.input-div {
    background-color: hsl(41, 63%, 57%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 4cm;
    width: 5cm;

}
.logo-div{
    height:80%;
    width: 70%;
}

.logo-img {
    height:100%;
    width: 100%;
    
}

.left-text {
    margin-top: 2cm;
}

#uname {
    font-family: roboto;
    font-size: 19px;

    height: 25px;
    border: none;
    width: 5cm;

    background: none;


}

#pwd {
    font-family: roboto;
    font-size: 19px;

    height: 25px;
    border: none;
    width: 5cm;

    background: none;
}


label {
    font-size: smaller;
    opacity: 0.7;
}

.email-div {
    display: flex;
    flex-direction: column;
    background: none;

}

.pass-div {
    display: flex;
    flex-direction: column;
    background: none;
}

#uname:focus {
    border-bottom: 2px solid #453641;

}

#pwd:focus {
    border-bottom: 2px solid #453641;
    
}

.login-btn {
    cursor: pointer;
    width: 7cm;
    height: 2cm;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.65);
    border-radius: 25px;
    font-size: 1.8rem;

}

.login-btn:hover {
    background: rgba(255, 255, 255, 0.15);
    color: #fff;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;

}
.left-text-div{
    height:30%;
    width: 30%;
}